.tabulator {
  font-size: 12px;
  border: none;
}

.tabulator .tabulator-header {
  font-weight: normal;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
}

/*.tabulator .tabulator-header .tabulator-col {
  height: 48px;
  background-color: #ffffff;
  border: none;
  padding: 0 7px;
}*/

.tabulator .tabulator-header .tabulator-col{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #fff;
  border-bottom: 3px solid #0aff0a;
  background: #000000;
  text-align: center !important;
  vertical-align: bottom;
  overflow: hidden;
}

.tabulator-row {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  min-height: 48px;
  vertical-align: middle;
}

.tabulator-col .tabulator-sortable{
  min-width: 40px;
      height: 48px;
      width: 159px;
      color: white;
      background: black;
      border-right: 1px solid white;
      border-bottom: 3px solid #0dd20d;
}

.tabulator-row .tabulator-cell {
  padding: 16px 7px;
  border-right: none;
  vertical-align: middle;
}

.tabulator-row .tabulator-cell:first-of-type,
.tabulator .tabulator-header .tabulator-col:first-of-type {
  padding-left: 24px;
}

.tabulator-row.tabulator-row-even {
  background-color: #ffffff;
}
