/* You can add global styles to this file, and also import other style files */
.tabulator {
  font-size: 12px;
  border: none;
}

.tabulator .tabulator-header {
  font-weight: normal;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
}

.tabulator .tabulator-header .tabulator-col {
  height: 48px;
  background-color: #ffffff;
  border: none;
  padding: 0 7px;
}

.tabulator .tabulator-header .tabulator-col {
  background:black;
}

.tabulator-row {
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  min-height: 48px;
  vertical-align: middle;
}

.tabulator-row .tabulator-cell {
  padding: 16px 7px;
  border-right: none;
  vertical-align: middle;
}

.tabulator-row .tabulator-cell:first-of-type,
.tabulator .tabulator-header .tabulator-col:first-of-type {
  padding-left: 24px;
}

.tabulator-row.tabulator-row-even {
  background-color: #ffffff;
}
